:root {
	--index: calc(1vw + 1vh);
    --zont: calc(1vw + 2vh);
    --web-color: rgba(56, 53, 53, 0.547);
    --animation-header: gradient 10s ease infinite;
        --menu-width: 220px;
        --menu-color: #2a4f6e;
        --item-color: #00000053;
        --text-footer-color: white;
        --icon-width-and-height: 110px;
        --transparent: rgba(49, 21, 21, 0.088);
}   